.card {
    width: 18rem;
    margin: 5px;
}
.card img {
    height: 150px;
}

header .btn-info {
    margin-right: 8px;
}

.card-header p {
    margin-left: 5px;
    margin-bottom: 6px;
}

footer {
    padding: 20px;
    margin-top: 20px;
}
footer p {
    margin-bottom: 0;
}